@define-color bg #292323;
@define-color fg #dcd7d6;
@define-color gray1 #af8a79;
@define-color gray2 #877878;
@define-color gray3 #a39eb8;
@define-color gray4 #a88373;
@define-color gray5 #bea7bd;
@define-color fg_bright #dcd7d6;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}